!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <title>Japão</title> 	
	<link href="css/estilo.css" type="text/css" rel="stylesheet"/>
</head>

<body>
	
	
	<header id="header">
		<h1>Japão</h1>
		<nav>
			<a href="#">Home</a>
			<span class="linhavert"></span>
			<a href="#">Culinária</a>
			<span class="linhavert"></span>
			<a href="#">História</a>
			<span class="linhavert"></span>
			<a href="#">Esportes</a>
			<span class="linhavert"></span>
			<a href="#">Turismo</a>
		</nav>
	</header>
	<div id="suporte-header"></div>
	
	<section id="banner-header">
		<figure><img id="img-banner" /></figure>
		<table style="margin:auto; width:980px;"><tr><td>
				<section id="destaques-header">	
					<div id="destaque1"><h2>CULINÁRIA</h2>
						<img src="imagens/culinaria-1.jpg" alt="Culinária"/>
					</div>